.color-match-response {
  margin: 10px auto;
}

.color-match-response p {
  margin: 1rem 0 0 0;
}

.color-match-response .success {
  color: #45B39D;
  font-style: italic;
  font-weight: bold;
}

.color-match-response .error {
  color: #EF8D84;
  font-style: italic;
  font-weight: bold;
}
