.header-container {
  height: 50px;
  margin-top: 8px;
}

.header-container .header-logo {
  float: left;
  height: 45px;
}

.header-container .header-brand {
  font-size: 23px;
  line-height: 23px;
  margin: 12px 0 0 4px;
  float: left;
}

.header-container .header-brand:hover {
  border-bottom: thin solid black;
}

.header-container .header-nav {
  float: right;
}

.header-container .header-nav a {
  display: inline;
  margin: 10px 15px;
  font-size: 23px;
  line-height: 23px;
}

.header-container .header-nav a:hover {
  border-bottom: 1px solid;
}

.header-container .header-nav.fa-bars {
  display: none;
}

@media only screen and (max-width: 900px) {
  .header-container .header-nav {
    display: none;
  }

  .header-container .header-nav.fa-bars {
    display: block;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.collapsed-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -27px;
  background-color: #F5B7B1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 27px;
}

.collapsed-nav a {
  padding: 8px 8px 8px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.collapsed-nav a:hover {
  color: #f1f1f1;
}

.collapsed-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .collapsed-nav {padding-top: 15px;}
  .collapsed-nav a {font-size: 18px;}
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
