<header class="header-container clear">
  <a href="/">
    <picture class="header-logo">
      <source srcset="assets/images/hac-logo.webp" type="image/webp">
      <source srcset="assets/images/hac-logo.png" type="image/png">
      <img class="header-logo" src="assets/images/hac-logo.png" alt="Independent Artist Logo">
    </picture>
  </a>
  <div class="header-brand">
    <a href="https://www.beautifuleighyou.com/">beautifuleigh.you</a>
  </div>
  <div class="header-nav fa fa-bars fa-lg" (click)="toggleCollapsedNav()"></div>
  <div #collapsedNav class="collapsed-nav">
    <a href="javascript:void(0)" class="closebtn" (click)="toggleCollapsedNav()">&times;</a>
    <app-buy-button [showPartyLink]="true"></app-buy-button>
  </div>
  <div class="header-nav">
    <app-buy-button [showPartyLink]="true"></app-buy-button>
  </div>
</header>
