<header class="header-container clear">
  <a href="/"><img class="header-logo" alt="Maskcara Hac Logo" src="assets/images/maskcara-hac-logo.png" /></a>
  <div class="header-brand">
    <a href="https://www.beautifuleighyou.com/">beautifuleigh.you</a>
  </div>
  <div class="header-nav fa fa-bars fa-lg" (click)="toggleCollapsedNav()"></div>
  <div #collapsedNav class="collapsed-nav">
    <a href="javascript:void(0)" class="closebtn" (click)="toggleCollapsedNav()">&times;</a>
    <app-buy-button [showPartyLink]="true"></app-buy-button>
  </div>
  <div class="header-nav">
    <app-buy-button [showPartyLink]="true"></app-buy-button>
  </div>
</header>
