.buy-now-button {
  height: 40px;
  width: 175px;
  line-height: 20px;
  background: #45B39D;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Cinzel', serif;
  padding: 0;
  position: relative;
  margin-right: 15px;
}

.buy-now-button a:hover {
  background: #EF8D84;
}

.buy-now-button a {
  text-decoration: none;
  color: white;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  display: block;
  text-align: center;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .buy-now-button {
    margin: 0 0 15px 0;
  }
}

.buy-now-party {
  display: inline;
  font-size: 14px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .buy-now-party {
    display: block;
  }
}

.buy-now-party:not([href]):not([tabindex]) {
  color: #45B39D;
}

.buy-now-party:not([href]):not([tabindex]):hover {
  color: #EF8D84;
  background: none;
}

.modal-body .card-row {
  text-align: center;
}

.modal-body .new-party-id {
  margin-top: 10px;
}

.modal-body .new-party-id .party-id-input {
  margin-left: 10px;
  width: 75px;
  text-align: center;
  border-width: 2.1px;
}

.modal-body .error {
  color: #EF8D84;
  font-size: 80%;
  font-style: italic;
}
