<button class="buy-now-button">
  <a href="https://traciweber.seintofficial.com/en/shop/party-{{getDefaultParty().id}}/shop-all" target="_blank">Buy Maskcara</a>
</button>
<a *ngIf="showPartyLink" class="buy-now-party" (click)="open(partyInfo)">Have a Hostess?</a>

<ng-template #partyInfo
             id="party-info-modal"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title float-left">Select your Party Hostess</h4>
    <button type="button" class="close float-right" aria-label="Close" tabindex="-1" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-row">
      <select id="hostess-selector" [(ngModel)]="currentPartyId" (ngModelChange)="updatePartyId($event)">
        <option [ngValue]="null" disabled>Select your Party Hostess</option>
        <option *ngFor="let party of getParties() | sortBy : 'hostess'" [value]="party.id">
          {{party.hostess}}
        </option>
      </select>
      <i class="fa fa-info-circle" ngbPopover="If you don't see your hostess, please contact Traci Weber"></i>
      <p class="new-party-id">
        <label for="partyId">Or enter your Party/Rewards # here: </label>
        <input id="partyId" class="party-id-input" type="text" [(ngModel)]="currentPartyId" (ngModelChange)="updatePartyId($event)" />
      </p>
      <p *ngIf="partyId !== getDefaultParty().id && partyStatus === 'open'">
        {{getSelectionText()}}
      </p>
      <p *ngIf="partyStatus === 'closed'" class="error">
        {{getErrorText()}}
      </p>
      <p *ngIf="currentPartyId !== getDefaultParty().id && hostess === null" class="error">
        {{getErrorText()}}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="close()">Cancel</button>
    <button class="buy-now-button">
      <a href="https://traciweber.seintofficial.com/en/shop/party-{{partyId}}/shop-all" target="_blank">Buy Now</a>
    </button>
  </div>
</ng-template>
