<button class="buy-now-button">
  <a href="https://traciweber.maskcarabeauty.com/en/shop/party-{{partyData['default']}}/23" target="_blank">Buy Now</a>
</button>
<a class="buy-now-party" (click)="open(partyInfo)">Have Party ID?</a>

<ng-template #partyInfo
             id="party-info-modal"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
  <div class="modal-header">
    <h4 class="modal-title float-left">Know Your Party ID?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-row">
      <p class="new-party-id">
        <label for="partyId">Party ID: </label>
        <input id="partyId" class="party-id-input" type="text" [(ngModel)]="currentPartyId" (ngModelChange)="updatePartyId($event)" />
      </p>
      <p *ngIf="this.partyId !== this.partyData['default'] && partyStatus === 'open'">You've entered a party currently hosted by {{hostess}}.</p>
      <p *ngIf="partyStatus === 'closed'" class="error">
        This party was hosted by {{hostess}}.<br/>
        However the party is now closed.<br/>
        You will be placed in the default party.
      </p>
      <p *ngIf="this.currentPartyId !== this.partyData['default'] && hostess === null" class="error">
        This is an unknown party.<br/>
        You will be placed in the default party.<br/>
        If you believe this to be in error, please double check the party id or contact Traci Weber.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="close()">Cancel</button>
    <button class="buy-now-button">
      <a href="https://traciweber.maskcarabeauty.com/en/shop/party-{{partyId}}/23" target="_blank">Buy Now</a>
    </button>
  </div>
</ng-template>
