.banner-container {
  height: 440px;
  background-image: url("../assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-container .banner-text {
  float: right;
  width: 44%;
}

.banner-container .banner-text .beautifuleigh-you-motto {
  font-size: 40px;
  line-height: 40px;
  width: 100%;
  float: right;
  margin: 10px 10px 0 0;
  text-align: center;
}

.banner-container .banner-text .maskcara-motto {
  font-size: 28px;
  line-height: 28px;
  float: right;
  width: 50%;
  margin: 400px 30px 0;
}

.before-after-container {
  display: flex;
  justify-content: space-evenly;
}

.before-after-container img {
  width: 25%;
  height: 25%;
}

.before-after-container .before-after-text {
  display: flex;
  width: 47%;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  margin: auto;
  flex-flow: row wrap;
}

.before-after-container .before-after-text p {
  margin: auto;
  text-align: center;
  min-width: 100%;
}

.color-match-container {
  margin: 50px auto;
  text-align: center;
}

.color-match-container span {
  font-size: 12px;
  font-style: italic;
}

.color-match-container .color-match-title {
  font-size: 28px;
  line-height: 28px;
}

.buy-now-container {
  text-align: center;
  margin-bottom: 30px;
}

.buy-now-container .buy-now-title {
  font-size: 24px;
  line-height: 24px;
  margin: 30px 0;
}
